/*================================ 
Common Css
==================================*/
body{
    font-family: 'Kaisei Decol', serif;
    font-size: 15px;
    line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Oswald', sans-serif;
    line-height: 1.5em;
}
img{
    max-width: 100%;
}
.readmore{
  background: #ea1a70;
  color: #fff;
  font-size: 15px;
  text-decoration: navajowhite;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 10px;
  transition: .5s;
}
.readmore:hover{
  background: #262626;
}
/*================================ 
Header Area Style
==================================*/

#header_area {
    padding: 15px 0;
  }
  
  #header_area .col-md-9 ul {
    font-family: "Oswald", sans-serif;
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    text-align: right;
  }
  #header_area .col-md-9 ul li {
    display: inline-block;
    position: relative;
  }

  #header_area .col-md-9 ul li a span {
    display: block;
    font-size: 12px;
  }
  #header_area .col-md-9 ul li a {
    color: #262626;
    font-size: 18px;
    padding: 20px 10px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
  }
  #header_area .col-md-9 ul li a:hover {
    background: #ea1a70;
    color: #fff;
  }
  
  /*Dropdown Menu*/
  #header_area .col-md-9 ul li ul {
    background: #262626 none repeat scroll 0 0;
    left: -99999px;
    margin: 0;
    position: absolute;
    text-align: left;
    top: 62px;
    width: 200px;
    z-index: 99999;
  }
  #header_area .col-md-9 ul li:hover ul {
    left: 0px;
  }
  #header_area .col-md-9 ul li ul li {
    display: block;
  }
  #header_area .col-md-9 ul li ul li a {
    color: #fff;
    padding: 8px 10px;
  }
  #header_area .col-md-9 ul li ul li a:hover {
    background: #ddd;
    color: #262626;
  }
  #header_area .col-md-9 ul li:hover a {
    background: #ea1a70;
    color: #fff;
  }
  #header_area .col-md-9 ul li:hover ul li a {
    background: none;
    color: #fff;
  }
  
  /*Sub Dropdown Menu*/
  #header_area .col-md-9 ul li ul ul {
    left: -99999px;
    top: 0;
    position: absolute;
  }
  #header_area .col-md-9 ul li:hover ul li ul {
    left: -999999px;
  }
  #header_area .col-md-9 ul li ul li:hover ul {
    left: 200px;
  }
  #header_area .col-md-9 ul li ul li:hover a {
    background: #ea1a70;
    color: #fff;
  }
  #header_area .col-md-9 ul ul li:hover ul li a {
    background: #262626;
    color: #fff;
  }
  #header_area .col-md-9 ul ul li ul li a:hover {
    background: #ea1a70;
    color: #fff;
  }



  /* =============================================
  Menu Position
  ================================================ */

  #header_area.left_menu .col-md-3{
    order: 2;
  } 

  #header_area.left_menu .col-md-9{
    order: 1;
  } 
  #header_area.left_menu .col-md-9 ul{
   text-align: left;
  } 


  #header_area.center_menu .col-md-3{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  } 

  #header_area.center_menu .col-md-9{
    width: 100%;
  } 
  #header_area.center_menu .col-md-9 ul{
   text-align: center;
  } 
  #header_area.center_menu .col-md-9 ul ul{
    text-align: left;
   } 
   /* =============================================
  Index Page Style
  ================================================ */

  #body_area{
      padding: 45px 0;
  }
  
  #body_area .blog-area{
      width: 100%;
      margin-bottom: 15px;
      background: rgb(170, 106, 106);
      padding: 15px;
  }

  #body_area .post_thumb{
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
}

#body_area .post_thumb img{
  transition: .5s;
  width: 100%;
  display: block;
}

#blog_area .post_page .blog_area{
  box-shadow: none;
  padding-top: 0;
}

#body_area .post_thumb:hover img{
  transform: scale(1.1);
}

#body_area .post_details{
  width: 100%;
}

#body_area .post_details div{
  width: 100% !important;
}  

#body_area .post_details h2{
  font-weight: 700;
  font-size: 30px;
}

#body_area .post_details h2 a{
  color: #262626;
  text-decoration: none;
  transition: .5s;
}
#body_area .post_details h2 a:hover{
  color: #ea1a70;
}

.blog_area {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px #ddd;
}
  /* =============================================
  Archive stlying 
  ================================================ */
#archive_title{
  background:#ea1a70;
  padding: 15px;
  margin-bottom: 20px;
}

#archive_title h1{
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
}





  /* =============================================
  Sidebar area stlying 
  ================================================ */

  #body_area .child_sidebar{
    margin-bottom: 20px;
  }
  .child_sidebar h2{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
    line-height: 1em;
    border-left: 5px solid #ea1a70;
    padding-left: 10px;
  }

  #body_area .child_sidebar input[type="search"]{
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  #body_area .child_sidebar button[type="submit"]{
    background: #ea1a70;
    border: 1px solid #ea1a70;
    padding: 10px;
    margin: 0;
    color: #fff;
    transition: .5s;
  }
  #body_area .child_sidebar button[type="submit"]:hover{
    background: #262626;
    border: 1px solid #262626;
  }

  #body_area .child_sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }
  #body_area .child_sidebar ul li{
  display: block;
  margin-bottom: 5px;
  }

  #body_area .child_sidebar ul li a{
    display: inline-block;
    color: #262626;
    text-decoration: none;
   }
   #body_area .child_sidebar ul li a:hover{
    color: #ea1a70;
   }
   #body_area .child_sidebar a.tag-cloud-link{
    color: #fff;
    background: #262626;
    display: inline-block;
    font-size: 12px !important;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 5px;
   }
   #body_area .child_sidebar a.tag-cloud-link:hover{
    background: #ea1a70;
    transition: .5s;
   }
  


  /* =============================================
  pagination
  ================================================ */


#page_nav p.pages{
  background: #ea1a70;
  color: #fff;
  padding: 5px 10px;
}

#page_nav p.pages span{
  display: inline-block;
  padding: 5px 10px;
}

#page_nav  .page-numbers{
  background: #ea1a70;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 5px;
  transition: .5s;
}

#page_nav .page-numbers.current, #page_nav .page-numbers:hover{
background:#262626;
}   

  /* =============================================
  Footer Area Stlying 
  ================================================ */
  #footer{
    background: #292929;
    padding: 40px 0 20px;
    color: #fff;
    border-bottom: 1px solid #ddd;
  }



  /* =============================================
  Copyright Area
  ================================================ */

  #copyright_area{
    background: #292929;
    padding: 20px 0;
    text-align: center;
  }

  #copyright_area p{
    margin: 0;
    color: #fff;
    font-size: 15px;
  }

  #copyright_area p a{
    margin: 0;
    color: #ea1a70;
    font-size: 15px;
  }
  #copyright_area p a:hover{
   text-decoration: underline;
  }

/* =============================================
 Comments Area Stlying 
  ================================================ */

  #comments_area h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }